<!-- <div class="container" [ngClass]="_isDark ? 'dark' : ''">
  <div class="container-dashboard">
    <div class="siderbar">
      <h1>IndeFocu</h1>

      <div class="container-actions">
        <button>Add new account</button>

        <a>
          <span><i class="bi bi-house-door"></i></span> Home
        </a>
        <a>
          <span><i class="bi bi-person"></i></span> Users
        </a>
        <a>
          <span><i class="bi bi-chat-dots"></i></span> Questions
        </a>
        <a>
          <span><i class="bi bi-card-checklist"></i></span> Themes
        </a>
        <a>
          <span><i class="bi bi-box-arrow-in-left"></i></span> Logout
        </a>
      </div>
    </div>

    <div class="header">
      <input type="text" placeholder="search" />

      <div class="container-modes">
        <i class="bi bi-brightness-high" (click)="setDarkMode(false)"></i>
        <i class="bi bi-moon" (click)="setDarkMode(true)"></i>
      </div>
    </div>

    <div class="main">
      <div>
        <ngx-charts-bar-vertical
          [view]="[1000, 400]"
          [results]="saleData"
          [xAxisLabel]="'Products'"
          [legendTitle]="'Product Sale Chart'"
          [yAxisLabel]="'Sale'"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="true"
        >
        </ngx-charts-bar-vertical>
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div> -->
