<div class="container" [ngClass]="_isDark? 'dark' : ''">
    <div class="title-container">
        <h1>Confidence</h1>
        <h1>in Your Security</h1>
    </div>

    <div class="container-grid">
        <div class="data">
            <div class="container-image">
                <i class="bi bi-fingerprint"></i>
            </div>
            <div>
                <p>The security</p>
                <h6>about of <span class="badge">1.800.000</span> persons in the world</h6>
            </div>
        </div>
        <div class="box-1">
            <div class="box">
                <h4>POLICES</h4>
                <h4>ENFORCED</h4>
                <p>Very important</p>
                <h1>36k</h1>
            </div>
        </div>
        <div class="box-2">
            <div class="box">
                <h4>TRUNCATES</h4>
                <h4>IS BLOCKED</h4>
                <p>Very works</p>
                <h1>12k</h1>
            </div>
        </div>
        <div class="box-3">
            <h4>TRANSACTIONS</h4>
            <h4>PROCESSED</h4>
            <p>Very simple</p>
            <h1>867K</h1>
        </div>
    </div>
</div>